body {
    background: black;

}

.clock {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    color: red;
    font-size: 80px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}
